html{
  margin: 0;
  padding: 0;
  background: #000;
}

body{
  background-image: url(/odinform-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px 0px;
  height: 100vh;
}

main{
  display:flex;
}

.img-div{
  width: 35%;
  margin: 5px 2px 0px 0px;
}

h4{
  position: relative;
  top: 20%;
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  margin-right: 5px;
  opacity: 35%;
  color: #000;
}

.signup{
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 65%;
}

.header-div{
  background-color: rgb(240, 240, 240);
  color: #000;
  margin: 0px;
}

.header-div p{
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.form-div{
  background: #fff;
  color: #000;
}

div{
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
}

h3{
  padding-left: .8rem;
}

form{
  padding-left: .8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
}

label{
  font-size: 0.765rem;
}
form p{
  margin-top: 0;
  color: red;
  font-size: .8rem;
}

form p::before{
  content: "*";
  color: red;
}

input{
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

input[name="last_name"]{
  border: 1.5px solid rgb(75, 75, 226);
  box-shadow: .8px .5px 0.7px rgb(162, 83, 236);
}

input[type=password]{
  border: 1px solid rgb(216, 48, 48);
}

::placeholder{
  color: #000;
  opacity: 80%;
}

.submit{
  background-color: rgb(204, 199, 199);
  box-shadow: 0px 0 6px grey;
}

.submit p{
  color:#000;
  font-weight: lighter;
  margin-left: 10px;
}

.btn{
  padding: 10px;
  background: #596D48;
  color: #fff;
  margin: 15px 10px;
  border: none;
  border-radius: 5px;
  align-self: flex-start;
}

@media screen and (max-width: 660px) {
  /* body {
    background-color: lightgreen;
  } */
  form {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 10px;
  }
  }